body {
        background-color: white;
        min-height: 100vh;
        display: grid;
        
        align-items: left;
        margin: 0;
      }
      
      :root {
        --squish-animation-time: 500ms;
        --progress-animation-time: 1000ms;
        --circle-animation-time: 300ms;
        --checkmark-animation-time: 300ms;
        --btn-width: 125px;
        --btn-height: 40px;
      }
      
      .btn {
        position: relative;
        background-color: #2B2D2F;
        color: #71DFBE;
        border: none;
        border-radius: .125em;
        width: var(--btn-width);
        height: var(--btn-height);
        font-weight: bold;
        cursor: pointer;
        padding: 0;
      }
      
      .btn.animating {
        background-color: transparent;
        color: transparent;
        user-select: none;
        cursor: default;
        animation: hide 0ms calc(var(--squish-animation-time) + var(--progress-animation-time)) forwards;
      }
      
      .btn::before {
        content: "";
        display: none;
        position: absolute;
        background-color: #2B2D2F;
        inset: 0;
        border-radius: .125em;
        animation: squish var(--squish-animation-time) cubic-bezier(0.26, 0.6, 0.46, 1.7);
        animation-fill-mode: forwards;
      }
      
      
      .btn::after {
        content: "";
        display: none;
        position: absolute;
        background-color: #AAA;
        left: 51%;
        right: 51%;
        top: 45%;
        bottom: 45%;
        border-radius: .25em;
        animation: progress var(--progress-animation-time) var(--squish-animation-time);
        animation-fill-mode: forwards;
      }
      
      .btn.animating::before,
      .btn.animating::after {
        display: block;
      }
      
      .btn.animating + .checkmark-container {
        background-color: #2B2D2F;
        border-radius: .25em;
        width: 0;
        height: 0;
        animation: circle var(--circle-animation-time) calc(var(--squish-animation-time) + var(--progress-animation-time)) forwards cubic-bezier(0.26, 0.6, 0.46, 1.7);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .btn.animating + .checkmark-container .checkmark-svg {
        stroke: white;
        width: 25px;
        stroke-dashoffset: 40.84104919433594;
        stroke-dasharray: 40.84104919433594;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
        animation: checkmark var(--circle-animation-time) calc(var(--squish-animation-time) + var(--progress-animation-time) + var(--circle-animation-time)) forwards;
      }
      
      @keyframes squish {
        100% {
          left: -25%;
          right: -25%;
          top: 45%;
          bottom: 45%;
          border-radius: .25em;
        }
      }
      
      @keyframes progress {
        100% {
          left: -25%;
          right: -25%;
        }
      }
      
      @keyframes hide {
        100% {
          width: 0;
          height: 0;
        }
      }
      
      @keyframes circle {
        0% {
          width: calc(var(--btn-width) * 1.50);
          height: calc(var(--btn-height) * .1);
        }
        100% {
          background-color: #71DFBE;
          width: 50px;
          height: 50px;
          border-radius: 100%;
        }
      }
      
      @keyframes checkmark {
        100% {
          stroke-dashoffset: 0;
        }
      }
      .zoom {
    
        display: block;
        transition: transform .2s; /* Animation */
        width: 30px;
        height: 10px;
        margin: auto auto;
      }
      
      .zoom:hover {
        transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        
      }
      .info-active 
      {
        /* position: absolute;

        vertical-align:top;
        margin-bottom: 100px;
        display: block; */
      
        position: absolute;
        
        height: 300px;
        width: 300px;
        background-color: rgba(0,0,0,0.8);
        color: white;
        padding-left: 0px;
        padding-right: 20px;
        font-size:13px;
        align-items: left;
      }
      .pic-active
      {
       z-index: 0;
      }
      .pic-nonactive
      {
        z-index: 100;
      }
      .info-nonactive
      {
        display: none;
      }
      .profile-picture
      {
        text-align: left;
      
      }
      .item 
      {
    
        position: relative;
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 120px;
        height: 190px;
        margin-inline-end: 100px;
        background-size: cover;
      }
      .profile 
      {
        display: relative;
      }
      .caption
      {
        text-align: left;
        display: block;
      }
      .static
      {
        margin-top: auto;
      }
      .dynamic
      {
        margin-top: 50px;
      }

 #searchbar
 {
   display: block;
 }     
      .row {
        margin: 10vh 10vw;
        display: block;
      }
      .dark-footer
      {
        height: 30px;
        background-color: #71DFBE;
      }
     /* Pagination links */
.pagination{
  align-items: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}
.pagebutton-show
{
  display: block;
}
.pagebutton-hidden
{
  display: none;
}
/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

.hide-item
{
  display: none;
}